<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sat.mobilesafe">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.SettingActivity" />
        <activity android:name=".Activities.Setup1Activity" />
        <activity android:name=".Activities.SetupOverActivity" />
        <activity android:name=".Activities.Setup2Activity" />
        <activity android:name=".Activities.Setup3Activity" />
        <activity android:name=".Activities.Setup4Activity" />
        <activity android:name=".Activities.ContactListActivity" />

        <receiver android:name=".Receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Receiver.DeviceAdmin"
            android:description="@string/device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service android:name=".Service.LocationService" />

        <activity android:name=".Activities.AToolActivity" />
        <activity android:name=".Activities.QueryAddressActivity" />

        <service
            android:name=".Service.AddressService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activities.ToastLocationActivity"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity android:name=".Activities.TestActivity" />

        <service android:name=".Service.RocketService" />

        <activity android:name=".RocketSmokeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:name=".Receiver.CallReceiver"/>
    </application>

</manifest>